.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

svg path, svg rect{
    fill: #f3f3f3;
}

body {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
}

.logo {
    max-height: 150px;
    max-width: 50%;
    margin-bottom: 30px;
}

h4 {
    color: #ffffff;
    max-width: 60%;
    margin: auto;
    margin-bottom: 30px;
}

table {
    background-color: #f3f3f3;
    margin: auto;
    max-width: 80%;
}

table, tr, td {
    border: none;
    padding: 15px;
}

.level td {
    padding: 10px;
}

.topic {
    background-color: #f3f3f3;
    color: #333333;
}

.topic td {
    padding: 10px 5px;
}

.topic td {
    border-bottom: 1px solid #e3e3e3;
}

.level-subtitle {
    font-weight: bold;
    color: #333333;
}

.level-subtitle td {
    padding-top: 30px;
}

.cc {
    width: 50px;
}

.last td {
    padding-bottom: 30px;
}

.copyright {
    width: 60%;
    margin: auto;
    margin-top: 100px;
}

.note {
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

.promo {
    width: 60%;
    margin: auto;
    padding-top: 100px;
}

.promo img {
    max-width: 40%;
}

.promo h1 {
    font-size: 30px;
} 

a:hover {
    text-decoration: none;
}
